@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: linear-gradient(to bottom, #001a00, #003300);
}

.glassmorphism-wrapper {
  background: rgba(0, 51, 0, 0.25); /* Semi-transparent arb-green */
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(0, 255, 0, 0.1); /* Subtle lime border */
  padding: 20px;
  margin: 20px;
}
